<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/nav %>
	<h1 class='top-page-text'>Edit Your Review</h1>
	<main>
		<form action="/beer/edit/<%=beer._id%>?_method=PUT" method="POST">
			<div class="container"'>
				<div class='row'>
					<div class="col-sm-6">
						<h4>Beer Name</h4>
						<input type="text" name="name" onclick="this.focus();this.select()" value="<%=beer.name%>"><br>
					</div>
					<div class="col-sm-6">
						<h4>Beer Type (Lager, IPA, etc.)</h4>
						<input type="text" name="type" onclick="this.focus();this.select()" value=<%=beer.type%>><br>
					</div>
					<div class="col-sm-6">
						<h4>ABV</h4>
						<p class="percent"><input type="text" name="abv" onclick="this.focus();this.select()" value="<%=beer.abv%>"></p>
					</div>
					<div class="col-sm-6">
						<h4>Brewery</h4>
						<input type="text" name="brewery" onclick="this.focus();this.select()" value="<%=beer.brewery%>"><br>
					</div>
					<div class="col-sm-12 flex-container">	
						<h4>Rate This Beer!</h4>
						<div id="rateYo"></div>
						<input class='rating' type="hidden" name="rating" value=<%=beer.rating%>>
						<h4>Comments About This Beer</h4>
						<textarea name="review" onclick="this.focus();this.select()"><%=beer.review%></textarea><br>
						<input class="btn btn-outline-success" type="submit" name="Edit This Beer">	
					</div>
				</div>
			</div>	
		</form>
	</main>
</body>
</html>