<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<%=username%>
	<% include ../partials/nav%>
		



		<section>
			<h1><%= beer.name%></h1>
			Type: <%= beer.type%><br>
			ABV: <%= beer.abv%><br>
			Brewery: <%= beer.brewery%><br>
			Rating: <%= beer.rating%><br>
			Review: <%= beer.review%><br>
		</section>

</body>
</html>