<!DOCTYPE html>
<html>
<head>
	<% include ..partials/head %>
</head>
<body>
	<% include ../partials/nav%>
	<%=username%>
	<section>
		<h1><%= beer.name%></h1>
		Type: <%= beer.type%><br>
		ABV: <%= beer.abv%><br>
		Brewery: <%= beer.brewery%><br>
		Rating: <%= beer.rating%><br>
		Review: <%= beer.review%><br>
	</section>
	<% if(logged && beer.reviewedBy === username){%>
		<a href="/beer/edit/<%=beer._id%>">Edit this beer</a><br>
		<a href="#">Delete this beer</a><br>
	<%}%>
</body>
</html>