<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/nav%>
	<%=username%>
	<section>
		<h1><%= beer.name%></h1>
		<p class='showText'>Type: <%= beer.type%><br>
		ABV: <%= beer.abv%>%<br>
		Brewery: <%= beer.brewery%><br>
		Rating: <%= beer.rating%>/5<br>
		Review: <%= beer.review%><br></p>
	</section>
	<% if(logged && beer.reviewedBy === username){%>
		<a href="/beer/edit/<%=beer._id%>">Edit this beer</a><br>
		<a href="/beer/delete/<%=beer._id%>">Delete this beer</a><br>
	<%}%>
</body>
</html>