<!DOCTYPE html>
<html>
<head>
	<% include ..partials/head %>
</head>
<body>
	<% include ../partials/nav %>
	<header>
		<h1>Welcome <%=user.username%></h1>
	</header>
	<main>
		<%userBeer.forEach((beer) =>{%>
			<a href="/beer/<%=beer._id%>">
				Name: <%= beer.name%><br>
				Type: <%= beer.type%>
				Rating: <%= beer.rating%>/5
			</a>
		<%})%>
	</main>
	<% if(logged){%>
		<form action='/user/logout' method='POST'>
			<input type="submit" value="Logout">
		</form>
	<%}%>
</body>
</html>