<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/nav %>
	<header>
		<h1 class='top-page-text'>Welcome <%=user.username%></h1>
		<audio src="<%=sound%>" autoplay></audio>
	</header>
	<main>
		<div class="card-deck">
			<%userBeer.forEach((beer) =>{%>
				<div class="card">
					<a href="/beer/<%=beer._id%>">
						<img class="card-img-top" src="<%=beer.breweryImg%>" alt="Card image cap">
						<div class="card-block">
					    	<h4 class="card-title"><%= beer.name%></h4>
				    	</div>
				    	<img class='card-rating' src="/images/stars/<%=beer.rating%>.png"><br>
					</a>
					<% if(logged){%>
						<button class="btn btn-outline-success" type="submit">
							<a href="/beer/edit/<%=beer._id%>">Edit</a>
						</button>
						<button class="btn btn-outline-success" type="submit">
							<a href="/beer/delete/<%=beer._id%>">Delete</a>	
						</button>
					<%}%>
				</div>
			<%})%>
		</div>
	</main>
	<% if(logged){%>
		<form action='/user/logout' method='POST'>
			<input class="btn btn-logout btn-outline-success" type="submit" value="Logout">
		</form>
	<%}%>
</body>
</html>